<div class="row">
    <span class="col-sm-6">
        Manufacture Name
    </span>
        <span class="col-sm-6 font-green">
            :Manufacture1
        </span>
</div>
<div class="row">
    <span class="col-sm-6">
        Transformer Location Name
    </span>
        <span class="col-sm-6 font-green">
            :Location272
        </span>
</div>
<div class="row">
    <span class="col-sm-6">
        Transformer Serial Number
    </span>
        <span class="col-sm-6 font-green">
            :SN010000271
        </span>
</div>
<div class="row">
    <span class="col-sm-6">
        Meter Number
    </span>
        <span class="col-sm-6 font-green">
            :DGB1212212
        </span>
</div>
<div class="row">
    <span class="col-sm-6">
        Section
    </span>
        <span class="col-sm-6 font-green">
            :Section 06
        </span>
</div>
<div class="row">
    <span class="col-sm-6">
        Sub Division
    </span>
        <span class="col-sm-6 font-green">
            :Section 06
        </span>
</div>
<div class="row">
    <span class="col-sm-6">
         Division
    </span>
        <span class="col-sm-6 font-green">
            :Section 06
        </span>
</div>
<div class="row">
    <span class="col-sm-6">
        Circle
    </span>
        <span class="col-sm-6 font-green">
            :Section 06
        </span>
</div>
<div class="row">
    <span class="col-sm-6">
        Region
    </span>
        <span class="col-sm-6 font-green">
            :Section 06
        </span>
</div>
<div class="row">
    <span class="col-sm-6">
        Latitude
    </span>
        <span class="col-sm-6 font-green">
            :Section 06
        </span>
</div>
<div class="row">
    <span class="col-sm-6">
        Longitude
    </span>
        <span class="col-sm-6 font-green">
            :Section 06
        </span>
</div>
