<div class="row">
    <span class="col-sm-2">
        <i class="fa fa-american-sign-language-interpreting fa-1x" aria-hidden="true"> </i>
        <span>11.62%</span>

    </span>
        <span class="col-sm-6">
           
                <span class="col-sm-7">
                    <button type="button" class="btn btn-success">Inst Paramters</button>
                </span>
                <span class="col-sm-5">
                    <button type="button" class="btn btn-light">Alerts</button>
                </span>
           
        </span>
        <span class="col-sm-4">
            <button type="button" class="btn btn-danger">Main Transformer</button>
        </span>
           
</div>
<br>
<div class="row">
    <span class="col-sm-3">
       <span>Current(A)</span>

    </span>
        <span class="col-sm-4">
            <table style="height: 100px; border:2px solid lightgrey">
                <tbody>
                  <tr>
                    
                    <td class="align-top">R</td>
                    <td class="align-top">Y</td>
                    <td class="align-top">B</td>
                  </tr>
                  <tr>
                    
                    <td class="align-middle">1.08</td>
                    <td class="align-middle">2.22</td>
                    <td class="align-middle">0.79</td>
                  </tr>
                </tbody>
              </table>
              
           
        </span>
        <span class="col-sm-5">
            <table style="height: 100px; border:2px solid lightgrey">
                <tbody>
                  <tr>
                    
                    <td class="align-top">R</td>
                    <td class="align-top">Y</td>
                    <td class="align-top">B</td>
                  </tr>
                  <tr>
                    
                    <td class="align-middle">1.08</td>
                    <td class="align-middle">2.22</td>
                    <td class="align-middle">0.79</td>
                  </tr>
                </tbody>
              </table>
        </span>
           
</div>
<br>
<div class="row">
    <span class="col-sm-5">
        <span class="col-sm-6">Loading(kVA)</span>
        <span class="col-sm-6">:085</span>
    </span>

    <span class="col-sm-3" style="border:2px solid lightgrey">
        <div class="row">
            <span class="col-sm-12">Time </span>
        </div>
        <div class="row">
            <span class="col-sm-12">04:17:56 </span>
        </div>
        <div class="row">
            <span class="col-sm-12">Date Stamp </span>
        </div>
        <div class="row">
            <span class="col-sm-12">2019-11-18 </span>
        </div>
    </span>

    <span class="col-sm-4">
        <table style="height: 100px; border:2px solid lightgrey">
            <tbody>
              <tr>
                
                <td class="align-top">R</td>
                <td class="align-top">Y</td>
                <td class="align-top">B</td>
              </tr>
              <tr>
                
                <td class="align-middle">1.08</td>
                <td class="align-middle">2.22</td>
                <td class="align-middle">0.79</td>
              </tr>
            </tbody>
          </table>
    </span>

</div>