<div class="row">
    <div class="col-sm-6">
        <app-sn-indicator-child></app-sn-indicator-child>
    </div>
    <div class="col-sm-6">
        <app-sn-indicator-child></app-sn-indicator-child>
    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <app-sn-indicator-child></app-sn-indicator-child>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <app-sn-indicator-child></app-sn-indicator-child>
    </div>
    <div class="col-sm-6">
        <app-sn-indicator-child></app-sn-indicator-child>
    </div>

</div>
