<h6 class="font-green"> Transformer Name Plate </h6>
<div class="row">
    <span class="col-sm-3">
        KVA
    </span>
        <span class="col-sm-3 green-border">
            7280.21
        </span>
        <span class="col-sm-3">
            Type of cooling
        </span>
            <span class="col-sm-3 green-border">
                cooltype5
            </span>
</div>
<div class="row">
    <span class="col-sm-3">
        Volts (no loads)
    </span>
        <span class="col-sm-3">
            <div class="row">
                <span class="col-sm-5">H.V</span>
                <span class="col-sm-7">912.84</span>
            </div>
            <div class="row">
                <span class="col-sm-5">L.V</span>
                <span class="col-sm-7">926.84</span>
            </div>
        </span>
        <span class="col-sm-6">
            <div class="row">
                <span class="col-sm-7">Frequency</span>
                <span class="col-sm-5 green-border">49.26</span>
            </div>
            <div class="row">
                <span class="col-sm-7">Impedance Volts</span>
                <span class="col-sm-5 green-border">926.84</span>
            </div>
        </span>
           
</div>

<div class="row">
    <span class="col-sm-3">
        Amperes
    </span>
        <span class="col-sm-3">
            <div class="row">
                <span class="col-sm-5">H.V</span>
                <span class="col-sm-7">416.84</span>
            </div>
            <div class="row">
                <span class="col-sm-5">L.V</span>
                <span class="col-sm-7">174.84</span>
            </div>
        </span>
        <span class="col-sm-6">
            <div class="row">
                <span class="col-sm-7">Connection Symbols</span>
                <span class="col-sm-5 green-border">DY11</span>
            </div>
            <div class="row">
                <span class="col-sm-7">Core and Winding</span>
                <span class="col-sm-5 green-border">1170</span>
            </div>
        </span>
</div>

<div class="row">
    <span class="col-sm-3">
        Phases
    </span>
        <span class="col-sm-3">
            <div class="row">
                <span class="col-sm-5">H.V</span>
                <span class="col-sm-7">416.84</span>
            </div>
            <div class="row">
                <span class="col-sm-5">L.V</span>
                <span class="col-sm-7">174.84</span>
            </div>
        </span>
        <span class="col-sm-6">
            <div class="row">
                <span class="col-sm-7">Total Weight</span>
                <span class="col-sm-5 green-border">DY11</span>
            </div>
            <div class="row">
                <span class="col-sm-7">Oil</span>
                <span class="col-sm-5 green-border">1170</span>
            </div>
            <div class="row">
                <span class="col-sm-7">Year of Manufacturer</span>
                <span class="col-sm-5 green-border">2010</span>
            </div>
        </span>
</div>