<div class="sn-lyout">
<p style="text-align: center;">SN01000001</p>
<i class="fa fa-american-sign-language-interpreting fa-3x" style="text-align: center;"aria-hidden="true"> </i>
<div style="text-align: center;"> <span>loading%</span> <span>:0.00</span>
    </div>
    <div style="text-align: center;"> <span>RCurrent</span> <span>:9.43</span>
    </div>
    <div style="text-align: center;"> <span>YCurrent%</span> <span>:1.27</span>
    </div>
    <div style="text-align: center;"> <span>BCurrent%</span> <span>:9.49</span>
    </div>
</div>

