app-dashboard {
    width: 100%;
}

.header-cnt {
    background-color: #10585c;
    line-height: 1rem;
    display: flex;
    justify-content: space-between;
}

.align-c {
    margin-left: -500px;
    padding-top: 12px;
    font-weight: bold;
    color: white;
}

.align-p {
    padding-top: 9px;
}
.saa-pos {
    padding-right: 20px;
    padding-top: 14px;
    color: whitesmoke;
}