<div class="container-fluid">
<div class="row">
    <div class="col-sm-6">
        <div class="card card-width">
            <div class="card-body card-padding">
               <app-manufacture></app-manufacture>
            </div>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="card card-width">
            <div class="card-body card-padding">
               <app-transformer></app-transformer>
          </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-sm-6">
        <div class="card card-width">
            <div class="card-body card-padding">
               <app-parameter></app-parameter>
          </div>
        </div>
    </div>   
    <div class="col-sm-6">
        <div class="card card-width">
            <div class="card-body card-padding">
               <app-sn-indicator> </app-sn-indicator>
          </div>
        </div>

    </div>
    
  </div>
</div>