

  <div class="card-container container-fluid">
   

   <!-- <div class="container"> -->
        <div class="row spacing">
          <div class="col">
            <div class="arrange-flex">
                <span class="extra">
                    Manufacture Name
                </span>
                    <span class="">
                        Manufacture1
                    </span>
            </div>
            <div class="arrange-flex">
                <span class="extra">
                    Transformer Location Name
                </span>
                    <span class="">
                        Location272
                    </span>
            </div>
            <div class="arrange-flex">
                <span class="extra">
                    Transformer Serial Number
                </span>
                    <span class="">
                        SN010000271
                    </span>
            </div>
            <div class="arrange-flex">
                <span class="extra">
                    Meter Number
                </span>
                    <span class="">
                        DGB1212212
                    </span>
            </div>
            <div class="arrange-flex">
                <span class="extra">
                    Section
                </span>
                    <span class="">
                        Section 06
                    </span>
            </div>
            <div class="arrange-flex">
                <span class="extra">
                    Sub Division
                </span>
                    <span class="">
                        Section 06
                    </span>
            </div>
            <div class="arrange-flex">
                <span class="extra">
                    Division
                </span>
                    <span class="">
                        Section 06
                    </span>
            </div>
            <div class="arrange-flex">
                <span class="extra">
                    Circle
                </span>
                    <span class="">
                        Section 06
                    </span>
            </div>
            <div class="arrange-flex">
                <span class="extra">
                    Region
                </span>
                    <span class="">
                        Section 06
                    </span>
            </div>
            <div class="arrange-flex">
                <span class="extra">
                    Latitude
                </span>
                    <span class="">
                        Section 06
                    </span>
            </div>
            <div class="arrange-flex">
                <span class="extra">
                    Longitude
                </span>
                    <span class="">
                        Section 06
                    </span>
            </div>
            
          </div>
          <div class="col">
            <!-- 2 batch-->
            <h4> Transformer Name Plate </h4>
            <div class="arrange-flex">
                <span class="extra">
                    KVA
                </span>
                    <span class="">
                       7280.21
                    </span>
                    <span class="extra-left extra">
                        Type of Cooling
                    </span>
                        <span class="">
                           cool type 5
                        </span>
            </div>
            <!-- end of 2 batch-->
          </div>
        </div>
        <div class="row spacing">
          <div class="col">
            1 of 3
          </div>
          <div class="col">
            2 of 3
          </div>
          <div class="col">
            3 of 3
          </div>
        </div>
      <!--  </div> -->




  </div>